/* styles.css */
body {
  display: flex;
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  height: 100vh; /* Utilise la hauteur totale de la fenêtre */
  margin: 0;
}

#app {
  text-align: center;
}

#showFormButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* styles.css */
.hidden {
  display: none;
}

#formContainer {
  position: fixed;
  left: 0;
  top: 50px; /* Ajustez selon vos besoins */
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

